*{
    margin: 0;
    font-family: arial;
    border: border-box;
}
.navbar{
    height:60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 128px;
}
.logo{
    height: 30px;
    width: 100px;
    background-image: url('amazonimages/amazonlogo.png');
    background-size:contain;
}
.border:hover{
    border:1.4px solid white
}
/* BOX-2 */
.add-first{
 color: #cccccc;
 font-size: 0.75rem;
 margin-left: 15px;
}
.add-sec{
 font-size: 1rem;
 margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}
.nav-address:hover{
    border:1.4px solid white;
}
/*BOX-3*/
.nav-search{
    display: flex;
    margin-left: 10px;
    background-color:  #0F1111;
    width: 620px;
    height: 40px;
    border-radius: 2px;
    align-items: center;
}
.search-select{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    
    background-color: #E6E6E6;
    color: #0f1111;
    width: 51px;
    height:40px;
    text-align: center;
    border: none;
}
.search-input{
    background-color: #FFFFFF;
    height: 38px;
    width: 100%;
    border: none;
    font-size: 0.9rem;
}
.search-icon{
    background-color:#febd68;
    width: 49px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border:none;
    font-size: 1.2rem;
    color: #0F1111;
}
.nav-search:hover{
    border:4px solid orange;
}
/***BOX-4***/

.signin-hello{
    font-size:0.85rem; 
    color: #FFFFFF;
    margin-left: 3.5px;
}
.signin-acc{
    background-color: #0F1111;
    color:#FFFFFF;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 0px;

}
/**BOX-5**/
  .cart{
    height:50px;
    width: 83px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
  }
  .crt{
    align-items:first end;
  }
  /*********PANEL********/
  .panel{
    background-color: #232f3e;
    height:40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .all{
    height:38px;
    width: 58px;
    font-size: 15px;
    color:#FFFFFF;
    margin-left: 35px;
    display: flex;
    align-items: center;
    margin-left: 18px;
  }
  .panel-ops p{
    display: inline;
    color: #FFFFFF;
    font-size: 0.85rem;
    align-items: center;
}
.panel-ops{
    display: flex;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/* *****HERO SECTION*****/
 .hero-section{
    background-image: url('amazonimages/backdrop.jpg');
    height: 600px;
    width: 1309.3px;
    background-size: cover;
    margin-top:0px;
    display: flex;
    padding: 10px;
    align-items: center;
    
 }
 /*******SHOP******/
 .shop-layout{
    height:420px;
    width:1309.3px;
    display:flex;
    margin-top: 320px;
    justify-content:space-evenly;
    padding: 0px;
 }
 .box{
    height: 400px;
    width: 298px;
    background-color: #febd68;
    padding: 1px;
    background-color:antiquewhite;

    
 }
 .heading{
    height:55px;
    width:100%;
    font-size: 0.85rem;
    padding: 1rem;
    display: block;
 }
 .img1{
      margin-top: 0px;
      margin-left: 10px;
      background-image: url('amazonimages/microwave.jpg');
      height: 80px;
     background-size: contain;
     background-repeat: no-repeat;
     }
  .img1h4{
    margin-top: 0px;
    margin-left:10px;
  }  
 body{
    flex-wrap: wrap;
 }
